*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.square{
    border: 2px solid;
    height: 300px;
    width: 500px;
    padding: 20px;
    position: relative;
}
.square1{
    height: 100px;
    width: 150px;
    position: static;
    background-color: aqua;
    margin-bottom: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.square2{
    height: 100px;
    width: 150px;
    position: relative;
    top:-70px;
    z-index: -1;
    background-color: rgb(121, 219, 76);
}
.square3{
    height: 100px;
    width: 150px;
    background-color: rgb(236, 91, 80);
    position: absolute;
    right: 10px;
    bottom:10px;
}